<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    bootstrap="tests/bootstrap.php">
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./tests/report" charset="UTF-8"
            highlight="true"
            lowUpperBound="50" highLowerBound="80" />
    </logging>
    <testsuites>
        <testsuite name="AeroGearPush Test Suite">
            <directory>./tests/AeroGearPush</directory>
        </testsuite>
    </testsuites>
</phpunit>
